:root {
  --hidden-borders: 0px solid black;
}

.entryColumn {
  /* background: lightgreen; */
  border: var(--hidden-borders, 1px dashed lightgreen);
  width: 50%;
  align-self: flex-end;
}

.lineItem {
  border: var(--hidden-borders, 1px dashed lightslategray);
  margin: 8px 8px;
  padding: 0px;
}

.textEnd {
  text-align: end;
}

.topLineLeft {
  /* margin-top: 15px; */
  font-size: large;
  display: flex;
  flex-direction: row;
}

.topLineRight {
  /* margin-top: 15px; */
  color: magenta;
}

.locationNumber {
  color: white;
  margin: 0px 20px 0px 0px;
}

.detailItem {
  border: 1px dashed lightslategray;
  margin: 8px 8px;
  padding: 0px;
}

.mapImage {
  width: 100%;
  height: 100%;
  /* width: 1306px;
  height: 994px; */

  object-fit: cover;
  /* width: 564px; */
}